[class*="colx"]{
    width: 100% !important;
}
@media only screen and (min-width: 700px){
    .colx{
        width: 60% !important;
    }
}
.top{
    background-color: #3a3a3a;
    height: 180px;
    padding-top: 30px !important
}
h1,h3,h4{
    color: #ffffff;
    text-align: center;
    
}
h3,h4{
    margin: 2px;
}
.box_holder{
    padding: 0 !important;
    
}
.box{
    background-color: #e0e0e0;
    text-align: center;
    height: 100px;
    border-radius: 10px;
}
.box_text1{
    color: #103a03;
    margin: 0 !important;
}
.box_text2{
    color:#ffffff;
    font-size: 40px;
    
}
.box_text3{
    color: #103a03;
    margin: 0 !important;
}
